*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bg1: #0084FD;
    --btn-bgcolor: white;
    --txt-color1: white;
}
/*common*/
.d-flex{
    display: flex;
}
.jus-betw{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.container{
    margin: 0 auto;
}
.btn{
    border-radius: 15px;
}
/* header */
header{
    background-color: var(--bg1);
    width: 100%;
    color: var(--txt-color1);
    font-size: 1.3rem;
}
header .container{
    padding: 10px 20px;
}
.menu{
    display: none;
}
.menu ul li{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    padding: 10px;
    transition: 1s;
}
.menu ul li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}
.menu ul li:last-child{
    color: black;
    background-color: var(--btn-bgcolor);
}
/* responsive */
@media all and (min-width: 992px){
    .menu{
        display: inline-block;
    }
    .burger{
        display: none;
    }
    .container{
        width: 75%;
    }
}